@use 'src/app/variables';
@mixin box-shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
}

.head {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: variables.$background-color;
  padding-top: 72px;
}

.contents {
  margin: 40px auto;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px gray;
  max-width: variables.$pages-max-width;
}

.QAcontainer {
  margin-top: 40px;
  margin-bottom: 40px;
}

.chatMessageQuestion {
  @include box-shadow(0px, 4px, 10px, rgba(0, 0, 0, 0.1));
  width: fit-content;
  padding: 1em; 
  background-color: #f1f1f1;
  border-radius: 12px;
  .chara {
    float: left;
    font-size: 32px;
    color: #439154;
    margin: 0 40px 0 0;
  }
}

.chatMessageAnswer {
  @include box-shadow(0px, 4px, 10px, rgba(0, 0, 0, 0.1));
  //display: inline-block;
  width: fit-content;
  padding: 1em; 
  background-color: #f1f1f1;
  border-radius: 12px;
  .chara {
    float: left;
    font-size: 32px;
    color: #E6007E;
    margin: 0 40px 0 0;
  }
}
