.container{
    display:flex;
    flex-direction: column;
}
.box{
    width: 66%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 17%;
    padding: 24px;
}
.title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}
.highlight{
    color: #439154;
}
.text{
    font-size: 1rem;
    margin: 0 auto;
}
.subtitle{
    font-size: 1.5rem;
    font-weight: bold;
}
.image{
    width: 65%; 
    aspect-ratio: 574/323; 
}
