.container{
    display: flex;
    flex-direction: column;
}
.main {
    background-color: #f1f1f1;
    padding-top: 72px;
}
.box{
    background-color: #fff;
    width: 54rem;
    max-width: 100%;
    box-shadow: 2px 2px 4px gray;
    margin: 40px auto;
    padding: 24px;
    box-sizing: border-box
}
.title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
    border-bottom: 1px solid black;
}
.highlight{
    color: #439154;
}
.text{
    margin-bottom:1rem;
}
.subtitle{
    font-size: 1.5rem;
    font-weight: bold;
}
.image{
    width: 65%; 
    aspect-ratio: 574/323; 
}
.hero{
    width: 100%;
    margin-top: 43px;
}