@use 'src/app/variables';

.cardContainer {
  margin: 56px;
}

.isEmpty {
  text-align: center;
  margin: 128px;
}

@media (max-width: variables.$tablet-width) {
  .isEmpty {
    font-size: 1rem; // 16px
  }
}

@media (min-width: variables.$tablet-width) {
  .isEmpty {
    font-size: 1.5rem; // 24px
  }
}