.heroBox{
    padding-top: 72px;
}

.container{
    width: 100%;
    background-color: #F1F1F1;
    padding-top: 48px;
    padding-bottom: 48px;
    display:flex;
    align-items: flex-start;
}

.box{
    width:52rem;
    background-color: #ffffff;
    margin-left: auto;
    padding-left: 20px;
    padding-top:32px;
    padding-bottom: 32px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.image{
    width: 808px;
    border: 1px solid #D7D7D7 ;
}

.title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0;
}

.line{
    width:745px;
    margin-left: 0;
}