@use 'src/app/variables';

/* 画面幅が768px以下の場合のスタイル */
@media (max-width: variables.$tablet-width) {
  .contentTitle {
    margin: 0px 16px;
    padding: 24px 0px 0px;
    font-size: 1.5rem; // 24px
  }

  .subtext {
    font-size: 1rem; // 16px
  }

  .text {
    font-size: 1.25rem; // 20px
  }

  .frame {
    padding: 20px;
  }
}

/* 画面幅が768px以上の場合のスタイル */
@media (min-width: variables.$tablet-width) {
  .contents {
    max-width: variables.$pages-max-width;
  }

  .contentTitle {
    margin: 0px 40px;
    font-size: 2.5rem; // 40px
  }

  .subtext {
    font-size: 1.25rem; // 20px
  }

  .text {
    font-size: 1.5rem; // 24px
  }

  .frame {
    padding: 40px;
  }
}

/* 共通 */  
.main {
  background-color: variables.$background-color;
  padding-top: 72px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: variables.$background-color;
}

.hero {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: variables.$background-color;
}

.contents {
  width: 100%;
  padding: 40px 0px;
  margin: 40px auto;
  background-color: #fff;
  box-shadow: 2px 2px 4px gray;
}

.contentTitle {
  font-weight: normal;
  border-bottom: 1px solid black;
}

.frame {
  width: 80%;
  margin: 48px auto;
  background-color: #fff;
  box-shadow: 2px 2px 4px gray;
  border-radius: 10px;
}

.text {
  text-align: center;
}

.subtext {
  text-align: center;
  margin: 16px;
}

.triangle {
  width: 0;
  height: 0;
  margin: 0 auto;
  border-top: 20px solid #D7E6D4;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
}

.bold {
  font-weight: bold;
}

.span {
  color: variables.$span-color;
}