@use 'src/app/variables';
$hovering-color: #7FCC8F;
$span-color: #47B660;
$heroImage-change-width: 1280px;
$header-change-width: 1200px;
$background-color: #F1F1F1;

/* heroImageとヘッダーのpadding調整 */
@media (min-width: $heroImage-change-width) {
  .heroImage {
    height: 60vh;
  }
}

@media (max-width: $heroImage-change-width) {
  .heroImage {
    height: 100%;
  } 
}

@media (max-width: $header-change-width) {
  .main {
    padding-top: 64px;
  }
}

@media (min-width: $header-change-width) {
  .main {
    padding-top: 72px;
  }
}

/* 画面幅が768px以下の場合のスタイル */
@media (max-width: variables.$tablet-width) {
  .breadcrumb {
    height: 28px;
  }
  
  .breadcrumbLink {
    font-size: 0.75rem; // 12px
  }

  .contentTitle {
    margin: 20px;
    font-size: 1.5rem; // 24px
  }
}

/* 画面幅が768px以上の場合のスタイル */
@media (min-width: variables.$tablet-width) {
  .breadcrumb {
    height: 64px;
  }
 
  .breadcrumbLink {
    font-size: 1.5rem; // 24px
  }

  .contents {
    max-width: variables.$pages-max-width;
  }

  .contentTitle {
    margin: 32px;
    font-size: 2.5rem; // 40px
  }
}

/* 共通 */
.heroImage {
  width: 100%;
  object-fit: cover;
}
  
.main {
  flex-direction: column;
  background-color: $background-color;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: $background-color;
}

.hero {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
}

.breadcrumb {
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumbLink {
  color: white;
  text-decoration: none;
}

.contents {
  width: 100%;
  margin: auto;
}

.contentTitle {
  font-weight: normal;
  border-bottom: 1px solid black;
  width: 4em;
}

.cardContainer {
  align-items: center;
  justify-content: center;
  display: grid;
  margin: 24px 0px;
}