.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  height: 400px;
  gap: 112px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.logo {
  img {
    display: block;
    margin-left: 0px;
  }
}

.navigations {
  display: flex;
  width: 500px;
  gap: 32px;
  

  .navigationLink {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    white-space: nowrap;
  }
}

.navigationLink:hover {
  color: #7fcc8f;
}