.footer {
  display: flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 96px;
  gap: 96px;
}

.logo {
  img {
    display: block;
    margin-left: 0px;
  }
}

.navigations {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  gap: 32px;

  .navigationLink {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    white-space: nowrap;
  }
}

.greenButton {
  margin: 24px;
  white-space: nowrap;
}

.navigationLink:hover {
    color: #7FCC8F;
  }