.heroBox{
    width: 100%;
}

.heroText {
    font-size: 2.5rem;
    font-weight: bold;
    color: #455749;
    margin: 0 auto;
    position: absolute;
    top: 196px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1; 
}
  
.heroImage {
    width: 100%;
    position: relative;
    filter: blur(5px);
    z-index: 0; 
}
  
.container{
    width: 100%;
    background-color: #f1f1f1;
    padding-top: 88px;
    padding-bottom: 103px;
}

.box{
    width: 1024px;
    margin: 32px auto;
    padding: 0 auto;
    display: flex;
    align-items: center;
}

.heroText{
    text-align:center;
    font-weight: bold;
    font-size: 3.3rem;
}

.title{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 55px;
    margin-bottom: 29px;
}

.docTitle{
    font-size: 1.5rem;
    font-weight: bold;
    color: #161616;
    margin: 0 auto;
}

.docSubtitle{
    font-size: 0.75rem;
    margin: 0 auto;
    color: #232323;
}

.imageBox{
    width:240px;
    height: 144px;
    margin-left: 0;
    margin-right: 32px;
}

.image{
    width: 240px;
    height: 144px;
    border-radius: 8px;
    border: 1px solid #CCCCCC;
    object-fit: cover;
}

.contents{
    font-size: 1rem;
    margin: 8px auto;
    color: #161616;
}

.link{
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #439154;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}